.app-navigation{

  position: fixed;

  bottom: 0;

  left: 0;

  width: 100vw;

  padding: 2px 0;

  display: flex;

  align-items: center;

  justify-content: space-around;

  background: #F2F2F2;

  border-top: 1px solid #DBDBDB;

  border-bottom: 1px solid #DBDBDB;

}